@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Boas Vindas</h1>
</div>

@{
    ViewData["Title"] = "Index";
}

<div class="container text-center mt-5">
    <h1>
        🤝 Quem Somos:
        Nosso compromisso é cuidar de você com atenção,
        respeito e motivação a cada treino. Aqui, 
        seu bem-estar vem em primeiro lugar.!
    </h1>
</div>
